@charset "UTF-8";

.slide-switch {
	position: relative;
	display: block;
	width: 100px;
	height: 30px;
	background: #ccc;
	border-radius: 10px;
}

.slide-circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	background: #666;
	border-radius: 10px;
	cursor: pointer;
}
.slide-circle.slide-on {
	background: #000;
}

.checkbox {
	display: none;
}

/*==========// 体力ゲージ //==========*/
.gage meter {
	appearance: none;
	width: 200px;
}
.gage meter::-webkit-meter-optimum-value {
	background: #05ce5c;
}
.gage meter::-webkit-meter-bar {
	background: #eee;
}